*{
    padding:0;
    margin:0;
}
.flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#box{
    background-color:white;
    
    width:250px;
    height:250px;
    
    border:2px solid black;

}
.virat{
    display: flex;
}